*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --font:'Space_Grotesk';
}

html{
    font-size: 16px;
}

body{
    font-family: var(--font);
}

@font-face {
    font-family: 'Space_Grotesk';
    src: url('fonte/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
}

.menu-mobile{
    display: none;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
}

.menu-desktop{
    display: flex;
    flex-direction: row;
}

.menu-desktop li{
    margin: 30px;
    list-style: none;
    font-size: 1rem;
    font-weight: 400;
    color: black;
}

.menu-desktop a{
    text-decoration: none;
    color: black;
}

.login{
    display: flex;
    flex-direction: row;
}

.login p{
    font-size: 1em;
    color: black;
    margin: 30px;
}

.login button{
    border-radius: 100px;
    width: 5vw;
    margin: 20px;
    background-color: #3778fa;
    color: #fff;
    border: none;
}

.logo h1{
    font-size: 1.5rem;
    font-weight: 500;
    color: #3778fa;
    margin: 26px;
}

.frase-principal{
    margin: 50px;
}

.frase-principal h2{
    display:flex;
    justify-content: center;
    font-size: 6rem;
    text-align: center;
}

.frase-principal p{
    display: flex;
    justify-content:center;
    margin-top: 30px;
    text-align: center;
    font-size: 1.5rem;
}

.imagem-principal img{
    width: 70%;
    height: auto;
}

.imagem-principal {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.parte-video-frase h2{
    display:flex;
    justify-content: center;
    font-size: 5rem;
    margin: 50px;
    text-align: center;
}

.parte-video-imagem img{
    width: 70%;
    height: auto;
    border-radius: 40px;
}

.parte-video-imagem{
    display: flex;
    justify-content: center;
    margin: 40px;
}

.ultima-parte-frase h2{
    display:flex;
    justify-content: center;
    font-size: 5rem;
    margin: 50px;
    text-align: center;
}

.arrumar{
    display: flex;
    flex-direction: row;
    justify-self: center;
    background-color: #f3f3f3;
    border-radius: 40px;
    width: 70%;
    height: auto;
    justify-content: space-around;
}

.ultima-parte-imagem{
    margin: 40px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
    margin-right: 0;
}

.ultima-parte-imagem img{
    width: 80%;
    height:auto;
}

.motivo h3{
    font-size: 1.25rem;
    margin: 10px;
}

.motivo p{
    margin: 20px;
    font-size: 2rem;
    font-weight: 400;
}

.motivo{
    display: flex;
    flex-direction: row;
    margin: 40px;
    align-items: baseline;
    justify-content: space-between;
    background-color: #fff;
    width: 90%;
    border-radius: 16px;
}

.arrumar2{
    display: flex;
    flex-direction: column;
    margin: 40px;
    background-color: #fff;
    width: 90%;
    border-radius: 16px;
}

.motivo- {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.interior p{
    font-size: 1rem;
    margin: 20px;
    margin-top: 0px;
}

.motivo- h3{
    font-size: 1.25rem;
    margin: 10px;
}

.motivo- p{
    margin: 20px;
    font-size: 2rem;
    font-weight: 100;
    margin-top: 10px;
}

footer{
    background-color: #3778fa;
    margin-top: 150px;
    color: #fff;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
}

.frase-efeito h2{
    font-size: 5.25rem;
    font-weight: 600;
}

.inicial{
    display: flex;
    flex-direction: row;
    padding-top: 80px;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
}

.frase{
    font-size: 1.1rem;
    padding-top: 50px;
}

.frase button{
    font-size: 1.1rem;
    border-radius: 100px;
    padding: 18px;
    border: none;
    font-weight: 500;
}

.frase p{
    padding-bottom: 25px;
}

.foot h3{
    font-size: 1.5rem;
    font-weight: 500;
    color:#fff;
}

.footer{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    margin: 0 auto;
}

.foot nav ul li{
    margin-bottom: 27px;
    list-style: none;

}

.foot h3{
    margin-bottom: 17px;
}

.detalhe{
  height: 1px;
  background-color: #fff;
  width: 70%;
  margin: 90px 30px;
  justify-self:  center;
}

.ultimo-footer{
    display: flex;
    justify-content:space-between;
    width: 70%;
    margin: 0 auto;
}

.escrita{
    padding: 50px 0;
}

.escrita p{
    font-size: 0.8rem;
}

.escrita- p{
    font-size: 0.8rem;
}

.escrita-{
    padding: 50px 0;
    display: flex;
    flex-direction: row;
}

.escrita- li a{
    text-decoration: none;
    color: #A0DA7A;
    margin-left: 7px;
    font-size: 0.8rem;
}

.escrita- li{
    list-style: none;
}

@media(max-width:480px){

    html{
        font-size: 8px;
    }
    .menu-desktop{
        display: none;
    }

    .menu-mobile{
        display: block;
        justify-content: flex-end;
    }

    .menu-mobile button{
        background-color: #fff;
        font-weight: 1rem;
        border: none;
        margin: 26px;
    }

    .login{
        display: none;
    }

    .header{
        display: flex;
        justify-content: space-between;
    }

    .frase-principal{
        display: none;
    }

    .frase-principal2 h2{
        display:flex;
        justify-content: center;
        font-size: 5rem;
        text-align: center;
    }

    .frase-principal2 p{
        display: flex;
        justify-content:center;
        margin-top: 30px;
        text-align: center;
        font-size: 1.5rem;
    }

    .frase-principal2{
        margin: 50px;
    }

    .imagem-principal img{
        width: 98%;
        margin-bottom: 60px;
    }

    .parte-video-frase h2{
        font-size: 3.5rem;
    }

    .parte-video-imagem img{
        width: 98%;
        margin-bottom: 60px;
    }

    .ultima-parte-frase h2{
        font-size: 3.5rem;
    }

    .arrumar{
        width: 87%;
        margin: 40px;
    }

    .ultima-parte-imagem{
        width: 90%;
        height: auto;
    }
}